# ========================
# DATABASE
# ========================

DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

# ========================
# BACKEND
# ========================

BACKEND_PORT=
BACKEND_ENV=

# ========================
# FRONTEND
# ========================

REACT_APP_API_URL=

# ========================
# JWT
# ========================

JWT_SECRET=
JWT_EXPIRATION=