# =========================
# ENV
# =========================
.env

# =========================
# GO
# =========================
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
coverage.*
*.coverprofile
profile.cov

# =========================
# GO WORKSPACE
# =========================
go.work
go.work.sum

# =========================
# NODE / REACT
# =========================
node_modules/
dist/
build/

# =========================
# IDE / EDITORS
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# LOGS
# =========================
*.log

# =========================
# DOCKER
# =========================
docker-data/