# =========================
# ENV
# =========================
.env
.env.*

# =========================
# GO
# =========================
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# =========================
# GO WORKSPACE
# =========================
go.work
go.work.sum

# =========================
# NODE / REACT
# =========================
node_modules/
dist/
build/

# =========================
# IDE / EDITORS
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# LOGS
# =========================
*.log

# =========================
# DOCKER
# =========================
docker-data/